QA.ProductCatalog.Integration/Service References/Notifications/DpcNotificationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8010/DpcNotificationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QA.Core.DPC" />
  <xs:element name="PushNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QA.Core.DPC" minOccurs="0" name="notifications" nillable="true" type="q1:ArrayOfNotificationItem" />
        <xs:element minOccurs="0" name="isStage" type="xs:boolean" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="method" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QA.Core.DPC" minOccurs="0" name="GetConfigurationInfoResult" nillable="true" type="q2:ConfigurationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>