QA.ProductCatalog.Integration/Service References/Notifications/NotificationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8010/DpcNotificationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8010/DpcNotificationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8010/DpcNotificationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QA.Core.DPC" />
      <xsd:import schemaLocation="http://localhost:8010/DpcNotificationService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_PushNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:PushNotifications" />
  </wsdl:message>
  <wsdl:message name="INotificationService_PushNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConfiguration" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetConfigurationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationInfo" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetConfigurationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="PushNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/PushNotifications" message="tns:INotificationService_PushNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/PushNotificationsResponse" message="tns:INotificationService_PushNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UpdateConfiguration" message="tns:INotificationService_UpdateConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UpdateConfigurationResponse" message="tns:INotificationService_UpdateConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetConfigurationInfo" message="tns:INotificationService_GetConfigurationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetConfigurationInfoResponse" message="tns:INotificationService_GetConfigurationInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationService" type="tns:INotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushNotifications">
      <soap:operation soapAction="http://tempuri.org/INotificationService/PushNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConfiguration">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UpdateConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationInfo">
      <soap:operation soapAction="http://tempuri.org/INotificationService/GetConfigurationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="BasicHttpBinding_INotificationService" binding="tns:BasicHttpBinding_INotificationService">
      <soap:address location="http://localhost:8010/DpcNotificationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>