QA.ProductCatalog.HighloadFront.Importer/Service References/DpcServiceReference/DpcService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QA.Core.DPC.Integration.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QA.Core.DPC.Integration.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MarketingProductId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductRegions" nillable="true" type="tns:ArrayOfProductRegion" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserUpdated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserUpdatedId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProductRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductRegion" nillable="true" type="tns:ProductRegion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductRegion" nillable="true" type="tns:ArrayOfProductRegion" />
  <xs:complexType name="ProductRegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="RegionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductRegion" nillable="true" type="tns:ProductRegion" />
</xs:schema>