QA.ProductCatalog.HighloadFront.Importer/Service References/DpcServiceReference/DpcService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QA.Core.DPC.Integration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QA.Core.DPC.Integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductData" nillable="true" type="tns:ProductData" />
</xs:schema>